@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans+Narrow:wght@400;700&family=Gasoek+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: Gasoek One;
  src:
    url("/assets/fonts/GasoekOne-Regular.woff") format("woff"),
    url("/assets/fonts/GasoekOne-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Rubik;
  src:
    url("/assets/fonts/Rubik-Light.woff") format("woff"),
    url("/assets/fonts/Rubik-Light.woff2") format("woff2");
}
@font-face {
  font-family: Noto Sans;
  src:
    url("/assets/fonts/NotoSans-Regular.woff") format("woff"),
    url("/assets/fonts/NotoSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: PT Sans Narrow;
  src:
    url("/assets/fonts/PTSans-Narrow.woff") format("woff"),
    url("/assets/fonts/PTSans-Narrow.woff2") format("woff2"),
    url("/assets/fonts/PTSans-NarrowBold.woff") format("woff"),
    url("/assets/fonts/PTSans-NarrowBold.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-circle {
    clip-path: circle(50% at 50% 50%);
  }
}

@layer base {
  .line-effect {
    width: 100%;
    height: 1px;
    background-color: black;
  }

  .line-below {
    width: 70%;
    height: 1px;
    background-color: black;
  }
}
